# 2.3 Типы коллекций. Последовательности, множества, отображения

## Задание 1

**Условие:**
Создайте кортеж из ```10```  произвольных значений. С помощью операции среза выведите только элементы с четными индексами.

**Решение:**

In [ ]:
kortej = ("sobaka", 123, True, [1, 2, 3], "kowka", 3.14, None, "olen", 2024, {"key": "value"})
vivod = kortej[::2]
print(vivod)

('sobaka', True, 'kowka', None, 2024)

## Задание 2

**Условие:**
Создайте список из ```10``` элементов, которые могут быть только ```0``` или ```1```. Примените к полученному списку операцию ```set()```.

**Решение:**

In [ ]:
# Создаем список из 10 элементов, которые могут быть только 0 или 1
my_list = [0, 1, 1, 0, 1, 0, 1, 0, 0, 1]

# Применяем операцию set() к полученному списку
unique_elements = set(my_list)

# Выводим уникальные элементы после применения операции set()
print(unique_elements)

{0, 1}

## Задание 3

**Условие:**
Создайте словарь из ```5``` сотрудников, где ключ - это имя сотрудника, а значение - его заработная плата. Добавьте в него несколько сотрудников. В цикле проиндексируйте зарплату всем сотрудникам на ```10%```.

**Решение:**

In [ ]:
# Создаем словарь из 5 сотрудников
employees = {
    'Alice': 50000,
    'Bob': 60000,
    'Charlie': 70000,
    'David': 55000,
    'Eve': 62000
}

# Добавляем несколько сотрудников
employees['Frank'] = 58000
employees['Grace'] = 53000

# Проходим по словарю и увеличиваем заработную плату каждого сотрудника на 10%
for employee, salary in employees.items():
    employees[employee] = salary * 1.1

# Выводим обновленные данные о заработной плате каждого сотрудника
for employee, salary in employees.items():
    print(f'{employee}: {salary}')

Alice: 55000.00000000001
Bob: 66000.0
Charlie: 77000.0
David: 60500.00000000001
Eve: 68200.0
Frank: 63800.00000000001
Grace: 58300.00000000001